body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.aluno_imagem {
    margin-top: 150px; 
    width: 300px;
    height: auto;
    position: absolute; 
    top: -50px; 
    left: 50%; 
    transform: translateX(-50%); 
}

.box {
    margin-top: 50px; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.box form {
    margin: 0;
}

.box button {
    width: 200px;
    height: 50px;
    margin: 5px;
}
